.bg-header {
    background-color: rgba(52, 180, 240, 0.18);
}

.header-container {
    width: auto;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    text-decoration: underline;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.header-navbar {
    min-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navlink {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.header-user {
    color: black;
}